---
import Layout from '@/layouts/Layout.astro';
import styles from '@/styles/pages/login.module.css';
---

<Layout description="用户相关页面" title="用户 - NazoPrism">
  <div class:list={styles.pageContent}>
    <h1>用户</h1>
    <p>这里是用户页面的内容。</p>
  </div>
</Layout>
