---
import styles from '../styles/components/scrollbar.module.css';
---

<div id="scrollbar" class={styles.scrollbar}></div>

<script>
  import { initProgressBar } from '../scripts/progress-bar';

  document.addEventListener('astro:page-load', initProgressBar);
</script>
