---
import styles from '../styles/components/ToTop.module.css';
---

<button aria-label="回到顶部" class:list={styles.toTopBtn} id="to-top" type="button">
  <svg class:list={styles.toTopIcon} fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.41 15.41L12 10.83L16.59 15.41L18 14L12 8L6 14L7.41 15.41Z" fill="currentColor"
    ></path>
  </svg>
</button>
