.bg-layer {
  position: fixed;
  width: 108%;
  height: 108%;
  top: -5%;
  left: -5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  transform: none !important;
}
